.about-info {
    font-size: large;
}

.how-info {
    font-size: large;
}

.how-box {
    size: 30%;
    display: flex;
    flex-direction: row;
}

.about-box {
    margin-top: 10%;
    display: flex;
}

h2 {
    margin-left: 4%;
    margin-right: 4%;
}


