.site-title {
    font-family: 'fira', sans-serif;
    font-style: italic;
    font-size: x-large;
}

.nav-style {
    /* background-color: #7baee1; */
    background-color: #DDEEFF;
}

.nav-separator {
    justify-content: center;
}

.button-color {
    background-color: #7baee1;
    border-color: #68a3df;
}

main {
    margin-top: 7%;
}

footer {
    background-color: #DDEEFF;
    padding: 1%;
}

.footer-name {
    /* float: left; */
    margin-left: 2%;
}

.footer-github {
    float: right;
    margin-right: 2%;
}