.about-info {
    font-size: large;
}

.how-info {
    font-size: large;
}

.how-box {
    size: 30%;
    display: flex;
    flex-direction: row;
    padding-right: 1%;
}

.about-box {
    margin-top: 10%;
    display: flex;
    padding-right: 1%;
}

h2 {
    margin-left: 4%;
    margin-right: 4%;
    background-color: #DDEEFF;
    padding: 2%;
}

.holiday {
    font-size: large;
    text-align: center;
    margin-top: 20%;
    font-weight: 700;
}

